<%- include("../partials/header"); %>

<%- include("../partials/navigation_bar"); %>

    <main>
        <section class="container my-5">

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h1 id="consulta">Lista das Compras</h1>
                        </div>
                        <div class="col-6">
                            <form class="d-flex" action="/compras_listar" method="GET">
                                <input type="text" class="form-control" placeholder="Pesquisar por NF ou Produto" name="pesquisa" required />

                                <button class="btn btn-light d-inline-flex" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </button>

                                
                            </form>
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Nota Fiscal</th>
                                    <th>Produto</th>
                                    <th>Quantidade</th>
                                    <th>Total</th>
                                    <th>Data:Hora</th>
                                </tr>
                            </thead>
                            <tbody id="tabela">
                                <% compras.forEach(function(item){ %>
                                    <tr>
                                        <td>
                                            <%= item.nf %>
                                        </td>
                                        <td>
                                            <%= item.produto_nome %>
                                        </td>
                                        <td>
                                            <%= item.quantidade %>
                                        </td>
                                        <td>
                                            <%= item.total %>
                                        </td>
                                        <td>
                                            <%= moment(item.datahora).format('DD/MM/YYYY-HH:mm') %>
                                        </td>
                                    </tr>

                                    <% }) %>
                            </tbody>
                        </table>
                        <div id="alerta" class="col-12 alert alert-info" style="display: none;">
                            <h1 class="display-5 ">
                                Lista vazia!
                            </h1>

                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
    <%- include("../partials/footer"); %>