<%- include("../partials/header"); %>


    <main>
        <section class="container ">
            <div class="row my-5">
                <div class="col-12">
                    <form action="" method="POST">
                        <input type="hidden" name="id" >
                        <div class="form-group">
                            <label for="fornecedor">Fornecedor</label>
                            <select name="" id="">
                                <% fornecedores.forEach(function(fornecedor){ %>
                                    <option value="<%= fornecedor.id %>"><%= fornecedor.nome %></option>
                                <% }) %>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="volume">Especificação Volume</label>
                            <select name="" id="volume_id">
                                <% volumes.forEach(function(volume){ %>
                                    <option value="<%= volume.id %>"><%= volume.nome %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="setor_id">Localização</label>
                            <select name="" id="setor_id">
                                <% setores.forEach(function(setor){ %>
                                    <option value="<%= setor.id %>"><%= setor.nome %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="nome">Produto</label>
                            <input class="form-control" type="text" id="nome" name="nome"
                                placeholder="Nome do produto" required>
                        </div>
                        <div>
                            <input class="btn btn-success" type="submit" value="Salvar">
                           
                        </div>
                    </form>

                </div>
            </div>
        </section>
    </main>











    <%- include("../partials/footer"); %>